<%# locals: (is_resolved_scope:) -%>
<div class="flex float-right rounded-lg">
  <%= link_to errors_path(scope: :unresolved), class: class_names("px-3 py-1 text-xs font-medium text-gray-900 border border-gray-300 rounded-l-lg", "bg-blue-100" => !is_resolved_scope, "bg-white hover:bg-gray-50" => is_resolved_scope) do %>
    Open
  <% end %>
  <%= link_to errors_path(scope: :resolved), class: class_names("px-3 py-1 text-xs font-medium text-gray-900 border border-gray-300 rounded-r-lg", "bg-blue-100" => is_resolved_scope, "bg-white hover:bg-gray-50" => !is_resolved_scope) do %>
    Resolved
  <% end %>
</div>

